/*
cyan/aqua #33d9ff
    80% tint #d6f7ff
    20% tint #5ce1ff
    90% shades #051619
    orange complement #ff5933
    mustard complement #ffd333
    text #343434
heliotrope #d933ff
    80% tint #f7d6ff
    green complement #59ff33
    red complement #ff3633
    text #000000
    */

    body {
      background-color: #33d9ff;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      overflow-x: hidden;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* ------------Header ---------------*/
    
    .page-header {
      display: flex;
      width: 100%;
      padding: 20px;
    }
    
    .page-header__item {
      flex: 0 1 100px;
    }
    
    .page-header__item:last-child {
      flex-grow: 1;
      text-align: right;
    }
    
    .navigation-list {
      list-style-type: none;
    }
    
    .navigation-list li {
      display: inline-block;
      margin-left: 15px;
    }
    
    /* ------------Profil ---------------*/
    
    .profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .profile__portrait {
      max-width: 350px;
      border-radius: 50%;
      margin-right: 20px ;
    }
    
    .profile__text {
      padding: 20px;
    }
    
    .profile__text-sporty {
      color: #d933ff
    }
    
    /* ------------FORM Contact Page---------------*/
    .heading_1 {
      margin: 50px;
    }
    
    .form-contact {
      position: relative;
      left: 50px;
    }
    
    .form-contact__input {
      position: relative;
      left: 0;
    }
    
    h1 {
      font-size: 32px;
      font-weight: 700;
      text-align: left;
    }
    
    h2 {
      font-size: 24px;
      font-weight: 400;
    }
    
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    
    a {
      color: #343434;
      font-weight: bold;
    }
    
    a:visited {
      color: #343434;
    
    }
    
    a:hover {
      color: #d933ff;
      text-decoration: none;
    }
    
    a:active {
      color: #ffd333;
    }
    
    a:focus {
      color: #d933ff;
      text-decoration: none;
    }
    
    .button {
      border: none;
      display: inline-block;
      font-family: inherit;
      background-color: #ffd333;
      color: #343434;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid #000;
      transition-duration: 0.9s;
      transition-property: opacity;
    }
    
    button {
      border: none;
      display: inline-block;
      font-family: inherit;
      background-color: #ffd333;
      color: #343434;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid #000;
      transition-duration: 0.9s;
      transition-property: opacity;
    }
    
    button:hover,
    button:focus,
    .button:hover,
    .button:focus {
      cursor: pointer;
      opacity: 0.8;
    }
    
    .secondary_button {
      background-color: #ffd333;
      color: #343434;
      width: 350px;
    }
    
    
    /* ------------Footer ---------------*/
    .page-footer {
      clear: both;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .social-media__item {
      text-decoration: none;
    }
    
    
    /* ------------Project Page CSS-Grid ---------------*/
    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .grid-container__item {
      width: 320px;
      background-color: #00a6cc;
      border: 2px solid #343434;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 10px;
      box-shadow: 5px 5px 2px #343434;
      margin: 20px;
    }
    
    
    
    /* ------------About Page  ---------------*/
    .about-chris {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    
    }
    
    .button-about__download {
      text-align: center;
      margin: 20px;
    }
    
    
    /* ------------@media smaller screen size ---------------*/
    
    
    @media all and (max-width: 500px) {
      .grid-container,
      .page-footer,
      .about-chris {
        grid-template-columns: 1fr;
      }
    
      h1 {
        font-size: 22px;
      }
    
      h2 {
        font-size: 20px
      }
    }
    
    @media all and (min-width: 500px) and (max-width: 750px) {
      .grid-container {
        grid-template-columns: 1fr 1fr;
      }
    
      h1 {
        font-size: 22px;
      }
    
      h2 {
        font-size: 20px
      }
      
    }
    
    @media all and (max-width: 750px) {
    
      .grid-container,
      .page-footer {
        grid-gap: 10px;
      }
    
      grid-container__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
    
      h1 {
        font-size: 22px;
      }
    
      h2 {
        font-size: 20px
      }
    }
    
    
    
    /* ------------SVG Animation ---------------*/
    
    
    .berlin-illustration {
      display: block;
      margin: 0 auto;
      width: 50%
    }
    
    @keyframes color-change {
      0% {
        fill: #ffd333;
      }
    
      50% {
        fill: #d933ff;
      }
    
      100% {
        fill: #ec99ff;
      }
    }
    
    .sun {
      animation-name: color-change;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    
    
    
    @keyframes cloud-move {
      from {
        transform: translate(0, 50px);
      }
    
      to {
        transform: translate(200px, 50px);
      }
    }
    
    .cloud-front {
      animation-duration: 30s;
      animation-name: cloud-move;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    
    @keyframes cloud-back {
      from {
        transform: translate(300px, 48px);
      }
    
      to {
        transform: translate(400px, 48px);
      }
    }
    
    .cloud-back {
      animation-duration: 30s;
      animation-name: cloud-back;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-timing-function: linear;
    }
    